$backgroundColor: black;

.tetris-board {
  position: relative;
  border: 2px solid red;
  box-sizing: border-box;
  background-color: $backgroundColor;
  overflow: hidden;
  width: 300px;
  aspect-ratio: 0.5;
  
  * {
    box-sizing: border-box;
  }

  .block {
    position: absolute;
    background-color: gray; 
    border-style: outset;
    border-width: 3px;
    border-color: rgba(0,0,0,0.5);

    &.block-i {
      background: rgb(255,83,83);
      background: linear-gradient(137deg, rgba(255,83,83,1) 0%, rgba(255,27,27,1) 100%);
    }

    &.block-j {
      background: rgb(83,176,255);
      background: linear-gradient(137deg, rgba(83,176,255,1) 0%, rgba(27,150,255,1) 100%);
    }

    &.block-l {
      background: rgb(255,161,83);
      background: linear-gradient(137deg, rgba(255,161,83,1) 0%, rgba(255,145,27,1) 100%);
    }

    &.block-o {
      background: rgb(255,253,83);
      background: linear-gradient(137deg, rgba(255,253,83,1) 0%, rgba(254,255,27,1) 100%);
    }

    &.block-s {
      background: rgb(255,83,225);
      background: linear-gradient(137deg, rgba(255,83,225,1) 0%, rgba(255,27,219,1) 100%);
    }

    @for $x from 1 through 10 {
      &.x#{$x} {
        left: percentage(($x - 1) / 10);
        right: percentage((10 - $x) / 10);
      }
    }
  
    @for $y from 1 through 20 {
      &.y#{$y} {
        top: percentage((($y - 1)) / 20);
        bottom: percentage((20 - $y) / 20);
      }
    }
  } 
}